.wrapper {
  margin: 0;
  padding: 0;

  background-color: #f4f4f4;
  // height: auto;
}

.wrapper .container {
  width: 1300px;

  background-color: #fff;
  padding: 0px;

  min-width: 1030px;

}

.containerHeader {
  padding: 0 34px 0 50px;
  width: 1300px;

  margin-top: 82px;

}


.mainContainer {
  display: flex;
  align-items: flex-start;
}
