// * {
// }

.wrapper {
  margin: 0;
  padding: 0;

  background-color: #f4f4f4;
  // height: auto;
}

.wrapper .container {
  width: 1300px;
}

.containerHeader {
  padding: 0 34px 0 50px;
  width: 1300px;
}


.mainContainer {
  padding-top: 72px;
}
