*{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 500;

    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}


.container {

    // min-width: 1310px;
}