.wrapper {
    margin: 0;
    padding: 0;
  
    background-color: #f4f4f4;
  }
  
  .wrapper .container {
    width: 1300px;
  
    background-color: #fff;
    padding: 0px;
  
    min-width: 1030px;
  
  }

  .mainContainer {
    display: flex;
    align-items: flex-start;
  }